<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" (click)="activeTab='competitions'; tab.emit('competitions')" [routerLink]="['/']">
            <!-- <img src="../../../assets/logo.png" width="35" height="35"> -->
            <h1 class="title is-1">FTP</h1>
        </a>

        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
            aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div #navMenu id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" [ngClass]="{'is-active': activeTab==='games'}"
                (click)="activeTab='games'; tab.emit('games') ; toggleNavbar();" [routerLink]="['/games']"
                routerLinkActive="router-link-active" *ngIf="isAdmin()">
                Games
            </a>
            <a class="navbar-item" [ngClass]="{'is-active': activeTab==='competitions'}"
                (click)="activeTab='competitions'; tab.emit('competitions') ; toggleNavbar();" [routerLink]="['/competitions']"
                routerLinkActive="router-link-active">
                Competitions
            </a>

            <a class="navbar-item" [ngClass]="{'is-active': activeTab==='submissions'}"
                (click)="activeTab='submissions'; tab.emit('submissions') ; toggleNavbar();" [routerLink]="['/contestants']"
                routerLinkActive="router-link-active">
                Submissions
            </a>
            
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <app-local-auth [isPage]="false" (click)="toggleNavbar()"></app-local-auth>
                </div>
            </div>
        </div>
    </div>
</nav>