<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-logo ml-5 mr-3 " (click)="activeTab='home'; tab.emit('home') ; toggleNavbar()" [routerLink]="['/']">
            <!-- <img src="../../../assets/logo.png" width="35" height="35"> -->
            <div>
                <p class="navbar-item-center-icon title is-3 mt-3">
                    <span class="file-icon">
                        <i class="fas fa-terminal"></i>
                    </span>
                    <span>FTP</span>
                </p>
                <h3 class="subtitle is-4 is-hidden-touch mb-3">Fakultetno tekmovanje v programiranju</h3>
            </div>
        </a>

        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
            aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div #navMenu id="navMenu" class="navbar-menu">
        <div class="navbar-start" >
            
        </div>

        <div class="navbar-end">
            <a *ngIf="isLoggedIn()" class="navbar-item navbar-item-center-icon" [ngClass]="{'is-active': activeTab==='competitions'}"
                (click)="activeTab='competitions'; tab.emit('competitions') ; toggleNavbar();" [routerLink]="['/competitions']"
                routerLinkActive="router-link-active">
                <span class="file-icon">
                    <i class="fas fa-trophy"></i>
                </span>
                Competitions
            </a>

            <a *ngIf="isLoggedIn()" class="navbar-item navbar-item-center-icon" [ngClass]="{'is-active': activeTab==='submissions'}"
                (click)="activeTab='submissions'; tab.emit('submissions') ; toggleNavbar();" [routerLink]="['/contestants']"
                routerLinkActive="router-link-active">
                <span class="file-icon">
                    <i class="fas fa-users-cog"></i>
                </span>
                Submissions
            </a>
            <a *ngIf="isLoggedIn() && isAdmin()" class="navbar-item navbar-item-center-icon" [ngClass]="{'is-active': activeTab==='games'}"
                (click)="activeTab='games'; tab.emit('games') ; toggleNavbar();" [routerLink]="['/games']"
                routerLinkActive="router-link-active" >
                <span class="file-icon">
                    <i class="fas fa-gamepad"></i>
                </span>
                Games
            </a>
            <a class="navbar-item navbar-item-center-icon" [ngClass]="{'is-active': activeTab==='about'}"
                (click)="activeTab='about'; tab.emit('about') ; toggleNavbar();" [routerLink]="['/about']"
                routerLinkActive="router-link-active">
                <span class="file-icon">
                    <i class="far fa-address-card"></i>
                </span>
                About
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <app-local-auth [isPage]="false" (modalClosedEvent)="toggleNavbar()"></app-local-auth>
                </div>
            </div>
        </div>
    </div>
</nav>