<div class="container" *ngIf="competitionsReady">
    <div class="select is-medium level" *ngIf="competitions.length">
        <div class="level-left">

            <select 
                class="select"    
                #competitionSelect
                (change)='selectCompetition(competitionSelect.value)'
                >
                <option *ngFor="let competition of competitions" value="{{ competition.competition_name }}">{{ competition.competition_name }}</option>
            </select>
        </div>
        <div class="level-right">
            <button class="button is-primary" (click)="startCharting()">Chart</button>
        </div>
      </div>
      <div class="level" *ngIf="!competitions.length">
          <div class="level-item">
              <h1 class="title is-2">No competitions to display!</h1>
          </div>
      </div>
</div>