<div class="wrapper container box mt-3">

    <section class="hero is-dark is-small has-background-grey-dark">
        <div class="hero-body">
            <h1 class="title is-2">Sponsors</h1>
        </div>
    </section>
    <div class="block task-container columns is-multiline is-centered mt-3">
        <div class="card column is-one-quarter pl-1 pr-1 mr-3 mt-4">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://yt3.ggpht.com/ytc/AKedOLT3Z5gPJowa1OiVJ6d4dz9Kqyl4BQo_FuVptMiY=s900-c-k-c0x00ffffff-no-rj"
                    alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered">Fakulteta za matematiko, naravoslovje in informacijske tehnologije Koper</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card column is-one-quarter pl-1 pr-1 mr-3 mt-4">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://yt3.ggpht.com/ytc/AKedOLT3Z5gPJowa1OiVJ6d4dz9Kqyl4BQo_FuVptMiY=s900-c-k-c0x00ffffff-no-rj"
                    alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered">
                            DIST - Oddelek za informacijske znanosti in tehnologijo</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

<section class="hero is-dark is-small has-background-grey-dark">
    <div class="hero-body">
        <h1 class="title is-2">Support</h1>
    </div>
</section>
<div class="container content">
    <div class="block mt-3">
        <ul>
            <li>
                <a href="mailto:domen.vake@famnit.upr.si">domen.vake@famnit.upr.si</a>
            </li>
            <li>
                <a href="mailto:aleksandar.tosic@upr.si">aleksandar.tosic@upr.si</a>
            </li>
        </ul>
    </div>
</div>

<section class="hero is-dark is-small has-background-grey-dark">
    <div class="hero-body">
        <h1 class="title is-2">Organising committee</h1>
    </div>
</section>
<div class="container content">
    <div class="block mt-3">
        <ul>
            <li>
                asist. Aleksandar Tošić
            </li>
            <li>
                asist. Domen Vake
            </li>
            <li>
                izr. prof. dr. Jernej Vičič 
            </li>
        </ul>
    </div>
</div>

<section class="hero is-dark is-small has-background-grey-dark">
    <div class="hero-body">
        <h1 class="title is-2">Report a bug</h1>
    </div>
</section>
<div class="container content">
    <div class="control block mt-3">
        <textarea class="textarea" placeholder="HTML template" rows="10" name="description"
        [(ngModel)]="report"></textarea>
    </div>
    <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
            <div><button class="button is-primary" [disabled]="!report" (click)="submitReport()">Report</button></div>
        </div>
    </div>
    
</div>
</div>