<article class="media hoverable box block" *ngIf="competition && contestant">
    <!-- <figure class="media-left">
        <div class="image is-128x128 is-vcentered">
            <img class="is-rounded is-vcentered" src="{{ getThumbnailUrl() }}">
        </div>
    </figure> -->
    <div class="media-content">
        <h1 class="title is-3">
            {{ competition.competition_name }} - <span *ngIf="contestant && contestant.name">{{ contestant.name[0].name }}</span>
            <span *ngIf="contestant && !contestant.name">{{ contestant.id }}</span>
        </h1>
    </div>
</article>