<div class="container">
    <div *ngIf="dataReady && !dataUnavalible">
        <div class="level">
            <div class="level-left">
                <h1 class="title is-1 has-text-centered">Submissions - {{ "Blalb" }}</h1>
            </div>
            <div class="level-right has-text-centered">
                
            </div>
        </div>

        <div class="level has-text-centered">
            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Days left</div>
                    <br>
                    <div class="subtitle">{{ calcDaysLeft() }}</div>
                </div>
            </div>
            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Current score</div>
                    <br>
                    <div class="subtitle">{{ calcScore() }}</div>
                </div>
            </div>
            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Versions</div>
                    <br>
                    <div class="title is-3">
                        {{ submissions.length }}
                    </div>
                </div>
            </div>

            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Submit new version</div>
                    <br>
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="box" *ngIf="game">
                    <div [innerHTML]="game.submission_description ?? ''"></div>
                </div>

                <div *ngIf="!submissions.length" class="box has-text-centered">
                    <div class="title is-3">
                        No submissions yet!
                    </div>
                </div>
                <div *ngIf="submissions.length" class="box has-text-centered">
                    <section class="accordions" *ngFor="let submission of submissions">
                        <article class="accordion" [ngClass]="{'is-active': openSubmissionAccordion == submission.id}">
                          <div class="accordion-header toggle">
                            <p>Hello World</p>
                          </div>
                          <div class="accordion-body">
                            <div class="accordion-content">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                            </div>
                          </div>
                        </article>
                      </section>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="!dataReady && !dataUnavalible">
        <div class="level has-text-centered">
            <progress class="progress is-medium is-primary" max="100"></progress>
        </div>
    </div>
    <div *ngIf="dataReady && dataUnavalible">
        <div class="has-text-centered">
            <h1 class="title is-3">No competition found!</h1>
        </div>
    </div>
</div>