<div class="container">
    <div *ngIf="dataReady && !dataUnavalible">
        <div class="level">
            <div class="level-left">
                <h1 class="title is-1 has-text-centered mt-2" *ngIf="contestant &&  contestant.name">
                    {{ competition?.competition_name ?? 'Unknown' }} - {{ contestant.name[0]?.name ?? 'Unknown' }}
                </h1>
            </div>
            <div class="level-right has-text-centered">

            </div>
        </div>

        <div class="level has-text-centered">
            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Days left</div>
                    <br>
                    <div class="subtitle">{{ calcDaysLeft() }}</div>
                </div>
            </div>
            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Current score</div>
                    <br>
                    <div class="subtitle">{{ calcScore() }}</div>
                </div>
            </div>

            <div class="level-item" *ngIf="submissions.length">
                <div class="box">
                    <div class="title is-3">Currently active</div>
                    <br>
                    <select
                        class="select"
                        #versionSelect
                        (change)='selectVersion(versionSelect.value)'
                        [ngModel]="getActiveSubValue()"
                    >
                        <option 
                            *ngFor="let submission of submissions" 
                            value="{{submission.version}}"
                        >
                            {{submission.name}}
                        </option>
                    </select>
                </div>
            </div>
            
            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Submit new version</div>
                    <br>
                    <button class="button is-primary" (click)="openNewSubmissionModal = true;">Submit</button>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="box" *ngIf="game">
                    <div [innerHTML]="game.submission_description ?? ''"></div>
                </div>

                <div class="box">
                    <app-charts-panel
                        [matches]=matches
                        [submissions]=submissions
                        (processingDone)="loading($event)"
                    ></app-charts-panel>
                    <div class="has-text-centered" *ngIf="!areChartsLoaded()">
                        <progress class="progress is-medium is-primary" max="100" value="loadingPercent"></progress>
                    </div>
                </div>



                <div *ngIf="!submissions.length" class="box has-text-centered">
                    <div class="title is-3">
                        No submissions yet!
                    </div>
                </div>
                <div *ngIf="submissions.length" class="box has-text-centered">
                    <section class="accordions" *ngFor="let submission of submissions">
                        <article class="accordion" [ngClass]="{'is-active': openSubmissionAccordion == submission.id}">
                            <div class="accordion-header toggle" (click)="accordionToggle(submission.id)">
                                <p>Version {{ submission.name }}</p>
                            </div>
                            <div class="accordion-body">
                                <div class="level">
                                    <div class="level-item">
                                        <h1 class="title is-3 mt-2">Submission errors: </h1>
                                    </div>
                                    <div class="level-item"></div>
                                    <div class="level-item">
                                        <button class="button is-primary is-outlined mt-1"
                                            (click)="downloadSubmission(submission.id)">Download submission</button>
                                    </div>
                                </div>
                                <div class="accordion-content">
                                    {{ submission.additional_data ?? 'No aditional data! (no errors)' }}
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="!dataReady && !dataUnavalible">
        <div class="has-text-centered">
            <progress class="progress is-medium is-primary" max="100"></progress>
        </div>
    </div>
    <div *ngIf="dataReady && dataUnavalible">
        <div class="has-text-centered">
            <h1 class="title is-3">No contestant found!</h1>
        </div>
    </div>
</div>



<!--new submission modal-->

<div class="modal" [ngClass]="{'is-active': openNewSubmissionModal}">
    <div class="modal-background" (click)="openNewSubmissionModal=false"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Submit a new version</p>
            <button class="delete" aria-label="close" (click)="openNewSubmissionModal=false"></button>
        </header>
        <section class="modal-card-body">
            <div class="control block">
                <label for="game-image-input title it-5">Submission files zip:</label>
                <app-file-input [label]="'Choose a submission...'" (fileSelected)="prepareSubmission($event)"
                    [fileName]="newSubmissionFiles?.name ?? ''"></app-file-input>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" (click)="saveSubmission()">Submit</button>
            <button class="button" (click)="openNewSubmissionModal=false">Cancel</button>
        </footer>
    </div>
</div>