<div class="container block">
    <div class="" *ngIf="dataReady">
        <div class="level has-text-centered">
            <div class="level-left">
                <h1 class="title is-1">
                    {{ game?.name }}
                </h1>
            </div>
        </div>

        <div class="level has-text-centered">
            <div class="level-item">
                <div class="box content">
                    <div class="title is-3" *ngIf="isAdmin()">Thumbnail</div>
                    <figure class="image is-96x96">
                        <img class="is-rounded" src="{{ getThumbnailUrl() }}" alt="Placeholder image">
                    </figure>
                </div>
            </div>

            <div class="level-item" *ngIf="isAdmin()">
                <div class="box">
                    <div class="title is-3">Running competitions</div>
                    <br>
                    <div class="subtitle">{{ activeCompetitions() }}/{{ competitions.length }}</div>
                </div>
            </div>

            <div class="level-item">
                <div class="box">
                    <div class="title is-3">Game pack</div>
                    <br>
                    <button class="button is-primary" (click)="downloadPack()">Download</button>
                </div>
            </div>
        </div>

        <div class="tabs is-centered" *ngIf="isAdmin()">
            <ul>
                <li [ngClass]="{'is-active': tab=='description'}" (click)="tab='description'"><a>Description</a></li>
                <li [ngClass]="{'is-active': tab=='competitions'}" (click)="tab='competitions'"><a>Competitions</a></li>
            </ul>
        </div>

        <div class="">
            <div class="description" *ngIf="tab=='description'">
                
                <div class="columns">
                    <div class="column is-half">
                        <div [innerHTML]="decriptionEdit ?? ''"></div>
                    </div>
                    <div class="is-divider-vertical" data-content="OR"  *ngIf="isAdmin()"></div>
                    <div class="column is-half box "  *ngIf="isAdmin()">
                        <div class="block" *ngIf="isAdmin()">
                            <div class="level">
                                <div class="level-item has-text-centered"><button class="button is-warning"
                                        (click)="previewModalOpen=true">Preview</button></div>
                                <div class="level-item has-text-centered"><button class="button is-primary"
                                        [disabled]="decriptionEdit == game?.game_description"
                                        (click)="saveDecriptionTemplate()">Save</button></div>
                            </div>
                        </div>
                        <div class="control block">
                            <textarea class="textarea" placeholder="HTML template" rows="10" name="description"
                                [(ngModel)]="decriptionEdit"></textarea>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="competitions" *ngIf="tab=='competitions' && isAdmin()">
                <div class="level">
                    <div class="level-left"></div>
                    <div class="level-right has-text-centered">
                        <button class="button is-primary" (click)="competitionModalOpen=true">Create new</button>
                    </div>
                </div>

                <div class="has-text-centered" *ngIf="!competitions.length">
                    No competitions for the game!
                </div>

                <div class="hat-text-centered" *ngIf="competitions.length">
                    <app-competition-card 
                        class="block" 
                        *ngFor="let competition of competitions" 
                        [competition]="competition" 
                        [game]="game"
                        (click)="routeToCompetition(competition)"
                    ></app-competition-card>                
                </div>
            </div>
        </div>
    </div>


    <div class="component block" *ngIf="!dataReady && !dataUndefined">
        <div class="level has-text-centered">
            <progress class="progress is-medium is-primary" max="100"></progress>
        </div>
    </div>

    <div class="component block" *ngIf="!dataReady && dataUndefined">
        <div class="level has-text-centered">
            <h1 class="title is-1">
                Invalid game url!
            </h1>
        </div>
    </div>
</div>

<!--preview modal-->
<div class="modal modal-fx-fadeInScale" [ngClass]="{'is-active': previewModalOpen}">
    <div class="modal-background" (click)="previewModalOpen=false"></div>
    <section class="modal-card-body modal-content is-huge">
        <div class="level">
            <div class="level-left has-text-centered">
                <h1 class="title is-3">
                    Template preview
                </h1>
            </div>
            <div class="level-right has-text-centered">
                <button class="delete is-large" (click)="previewModalOpen=false"></button>
            </div>
        </div>
        <div class="is-divider" data-content=""></div>
        <div [innerHTML]="decriptionEdit ?? ''"></div>
    </section>
</div>


<!--new competition modal-->

<div class="modal" [ngClass]="{'is-active': competitionModalOpen}">
    <div class="modal-background" (click)="competitionModalOpen=false"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create a new competition</p>
            <button class="delete" aria-label="close" (click)="competitionModalOpen=false"></button>
        </header>
        <section class="modal-card-body">
            <div class="control block">
                <label for="game-name-input title it-5">Name</label>
                <input id="game-name-input" class="input" type="text" placeholder="Name of the competition"
                    [(ngModel)]="newCompetition.competition_name">
            </div>
            <div class="control block">
                <label for="game-image-input title it-5">Select start date</label>
                <input class="input" name="dateStart" type="date" [ngModel]="newCompetition.start | date:'dd.mm.yyyy'"
                    (change)="formatStartDate($event)">
            </div>
            <div class="control block">
                <label for="game-image-input title it-5">Select end date</label>
                <input class="input" name="dateEnd" type="date" [ngModel]="newCompetition.end | date:'dd.mm.yyyy'"
                    (change)="formatEndDate($event)">
            </div>
            <div class="control block">
                <label for="game-image-input title it-5">Select round type</label>
                <br>
                <div id="round-select" class="select">
                    <select #roundSelect (change)='selectRound(roundSelect.value)'>
                        <option *ngFor="let round of roundTypes" value="{{round.id}}">{{round.type}}</option>
                    </select>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" (click)="createCompetition()">Create</button>
            <button class="button" (click)="competitionModalOpen=false">Cancel</button>
        </footer>
    </div>
</div>