<div class="columns is-desktop is-multiline" *ngIf="submissions && submissions.length && matches && matches.length && dataReady" >
    <div class="column">
        <h1 class="title is-3">Win rate</h1>
        <app-submission-win-rate-chart
            [series]=wrseries
            [labels]=wrlabels
        ></app-submission-win-rate-chart>
    </div>

    <div class="column">
        <h1 class="title is-3">Average submission metrics</h1>
        <app-radar-stats-chart
            [series]="radarChartSeries"
        ></app-radar-stats-chart>
    </div>

    <div class="column is-full">
        <h1 class="title is-3">Score</h1>
        <app-score-chart
            [series1]=series1
            [series2]=series2
            [labels]=labels
        ></app-score-chart>
    </div>
</div>

<div 
    *ngIf="!submissions || !submissions.length" 
    class="has-text-centered"
>
    <h1 class="title is-3">
        No data to chart! 
    </h1>
    <h3 class="subtitle is-3">
        You should submit your first player and wait for a match.
    </h3>
</div>